Source: mongovi
Section: database
Priority: optional
Maintainer: Tim Kuijsten <info+mongovi@netsend.nl>
Build-Depends: debhelper-compat (= 13), libmongoc-dev (>= 1.17.0), libedit-dev (>= 3.1-20210910)
Standards-Version: 4.5.1
Vcs-Git: https://github.com/timkuijsten/mongovi.git
Vcs-browser: https://github.com/timkuijsten/mongovi
Homepage: https://github.com/timkuijsten/mongovi

Package: mongovi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Command line interface for MongoDB
 mongovi is a command line interface for MongoDB.
 .
 Features:
  Easy integration into shell pipelines
  Emacs-like and vi-like key bindings
  Simple and secure authentication via ~/.mongovi
  Move around databases and collections using the common `cd` idiom
