#!/usr/bin/make -f

export USRDIR=/usr

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_install:
	$(MAKE) DESTDIR=$$(pwd)/debian/mongovi MANDIR=/usr/share/man PREFIX=/usr install
